


<div class="container">
  <div class="starter-template">

    <%= render "layouts/heading", heading: "Lib's Seido Guide" %>

    <p class="lead">This guide is to help me learn all I need to for my next few gradings.</p>

    <div class="row grid-two">
      <div class="col-sm-6">
        <button class="button_big disabled">History</button>
      </div>
      <div class="col-sm-6">
        <button class="button_big disabled">Meaning</button>
      </div>
      <div class="col-sm-6">
        <button class="button_big disabled">Philosophy</button>
      </div>
      <div class="col-sm-6">
        <button class="button_big disabled">Foundations</button>
      </div>
      <div class="col-sm-6">
        <button class="button_big disabled">Kata</button>
      </div>
      <div class="col-sm-6">
        <button class="button_big disabled">Kumite</button>
      </div>
      <div class="col-sm-6">
        <button class="button_big disabled">Self-Defence</button>
      </div>
      <div class="col-sm-6">
        <button class="button_big disabled">Seido Strategies</button>
      </div>
      <div class="col-sm-6">
        <button class="button_big"><a href="/stances">Stances</a></button>
      </div>
      <div class="col-sm-6">
        <button class="button_big disabled">Natural Weapons</button>
      </div>
      <div class="col-sm-6">
        <button class="button_big disabled">Hand & Arm Techniques</button>
      </div>
      <div class="col-sm-6">
        <button class="button_big disabled">Leg Techniques</button>
      </div>
      <!-- <a href="/stances">Stances</a> -->
    </div>

  </div>
</div><!-- /.container -->
