<%= render "layouts/heading", heading: "STANCES" %>

<div class="container">
  <div class="row">
    <% @stances.each do | stance | %>
      <div class="col-md-4">
        <div class="thumbnail">
          <h2> <%= stance.japanese_name %> </h2>
          <%= link_to image_tag(stance.image.url(:med)), stance_path(stance) %>
          <p><%= link_to "View details", stance_path(stance),  :class => "btn btn-default", :role => "button" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
