/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Droid+Serif);




* {
  font-family: 'Droid Serif', serif;
  // border: 1px solid grey
}
 body {
   padding-top: 50px;
 }
 .starter-template {
   padding: 40px 15px;
   text-align: center;
 }

.blossom-heading {
  h1 {
    max-height: 100px;
  }
  img {
    width: 150px;
  }
}

.grid-two {
  margin-top: 20px;

  h2 {
    padding: 20px 20px 20px 20px;
    border: 2px solid #214B95;
    border-radius: 20px;
    background-color: #fff;
  }

  .button_big {
    width: 100%;
    background-color: #fff;
    color: black;
    border: 2px solid #214B95;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    // padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button_big:hover {
    background-color: #214B95;
    color: #fff;
  }
}
